<div>


  <h2>Add your game</h2>

  <form id="form" action="/" method="POST" enctype="multipart/form-data">
    <p>
      <label for="title">Title</label>
      <input required type="text" name="title" placeholder="Title">
    </p>
    <p>
      <label for="author">Author</label><br>
      <input required type="text" name="author " placeholder="Your name">

    </p>
    <p>
      <textarea required for="description" rows="3" cols="80" input type="text"
        name="description">Description</textarea>
    </p>
    <p>
      <label for="Bootcamp">Your Bootcamp</label><br>
      <input required type="text" name="bootcamp" placeholder="Month/Year">

    </p>

    <p>
      <label for="github">Github profile</label><br>
      <input required type="text" name="githubprofile " placeholder="Your Github Name">
    </p>
    <p>
      <label for="author">Play link</label><br>
      <input required type="text" name="link" placeholder="Your name">
    </p>

    <p>
      <label>Screenshot</label>
      <input required type="file" name="photo">

    </p>
    <p>
      <button type="submit" value="save">Add my Game</button>
    </p>



  </form>




</div>
{{!-- 
<form id="form" action="/" method="POST" enctype="multipart/form-data" class="form-signin">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    {{#if message}}
    <div class="error-message">{{message}}</div>
    {{/if}}
    <br>
    <button type="submit" class="btn btn-secondary btn-login">Login</button>
    <br>
    <button type="submit" class="btn btn-secondary btn-login"><img class="github-btn" src="/images/github-silhouette.png"><a class="github-btn" href="/auth/github">Sign in with Github</a></button>
  </form> --}}