<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h2>This is where you want to go:</h2>
<p>
  <button><a href="/private">Your account</a></button>
  <button><a href="/signup">Create account</a></button>
</p>
<button><a href="/login">Log In</a></button>
<button>
  <a href="/auth/slack">Login With Slack</a>
</button>