<p>
  <button><a href="/private">Your account</a></button>
  <button><a href="/signup">Create account</a></button>
</p>
<button><a href="/login">Log In</a></button>
<button><a href="/auth/github">Login With Github</a></button>

{{#each gamesList}}
{{>gameCard this}}
{{/each}}