<div class="private-page">
  <h1>Welcome, {{user.username}}!</h1>
  <p>This is your private page.</p>
  <p>This are your games.</p>
  <a href="games/addGame">Add a Game</a>

  <div class="index-games-list">


    {{#each gamesList}}
    {{>gameCard this}}
    {{/each}}


  </div>

</div>