<div class="private-page">
  <h1>Hi {{user.username}}, welcome to your account!</h1>

  <div>
      <h4>Your Uploaded Games:</h4>
  <a href="games/addGame">Add A New Game</a>


      {{#each gamesList}}
      {{>gameCard this}}
      {{/each}}
  </div>

</div>
