<div class="private-page">
  <h1>Welcome, {{user.username}}!</h1>
  <p>This is your private page. Here you can upload your games and update your information.</p>


  <div>
    <h6>Update your information</h6>
    <p><a href="#">Edit options</a></p>
    <br>

    <br>
    <h4>List of your Games:</h4>
    <br>
    <div class="private-games-list">
      {{#each gamesList}}
        {{>gameCard this}}
      {{/each}}
    </div>
    <br>
    <p><a href="games/addGame">Upload a New Game</a></p>

  </div>
</div>
